{% from 'bootstrap/nav.html' import render_nav_item %}

<div class="row">
    <div class="col-md-3">
        <img src="{{ url_for('main.get_avatar', filename=user.avatar_l) }}" class="img-fluid rounded avatar-l">
    </div>
    <div class="col-md-9">
        <h1>{{ user.name }}
            <small class="text-muted">{{ user.username }}</small>
        </h1>
        
        {% if user.bio %}
        <p>{{ user.bio }}</p>
        {% endif %}

        <p>
            {% if user.website %}
            <span class="oi oi-link-intact"></span>
            <a href="{{ user.website }}" target="_blank">{{ user.website|truncate(30) }}</a>&nbsp;&nbsp;
            {% endif %}
            
            {% if user.location %}
            <span class="oi oi-map-marker"></span>
            <a href="https://www.google.com/maps?q={{ user.location }}" target="_blank">{{ user.location|truncate(30) }}</a>&nbsp;&nbsp;
            {% endif %}

            <span class="oi oi-calendar"></span>
            加入时间： {{ user.member_since }}
        </p>
    </div>
    <div class="mt-4">
        <ul class="nav nav-tabs">
            {{ render_nav_item('user.index', '照片', user.photos|length, username=user.username) }}
        </ul>
    </div>
</div>