<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    {% from 'macros.html' import static_file -%}
    {{ static_file('css', 'css/bootstrap.min.css') }}
</head>
<body>
    {% block content %}{% endblock content %}
    {% include 'common/footer.html' %}
    {% block scripts %}
    {{ static_file('js', 'css/bootstrap.min.js') }}
    {% endblock scripts %}
</body>
</html>
